<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Post Feed">
  <ion-content class="padding">

  <!-- {{post}} -->

    <div class="list">
      <div class="item item-image">
          <img src="{{post.cover_image}}">
      </div>

        <div class="row">
          <div class="col col-75">
            <h4>{{post.title}}</h4>
            <p>{{post.category.name}}</p>
          </div>
          <div class="col col-25 item-socials">
            <a ng-click="setFavorite(post._id)">
              <i ng-show="favorited == false" class="icon ion-ios-star-outline"></i>
              <i ng-show="favorited == true" class="icon ion-ios-star"></i>
            </a>
            <a>
              <i class="icon ion-android-share-alt"></i>
            </a>
          </div>
        </div>
        <div class="row">
          <p>{{post.content}}</p>
        </div>
    </div>
  </ion-content>
</ion-view>
