<ion-view view-title="Feed">

  <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
    <div class="tabs">
      <a class="tab-item" href="#">
        TODOS
      </a>
      <a class="tab-item" href="#">
        TOP AVALIADOS
      </a>
      <a class="tab-item" href="#">
        TOP SEMANAL
      </a>
    </div>
  </div>

  <ion-content class="padding">
	
	<div class="list card post">

	  <div class="item item-image">
	    <img src="img/galaxy.jpg">
	  </div>

	  	<div class="item row">
		  <div class="col col-75">
			<p>Lorem Ipsum</p>
			<p>Category</p>
		  </div>
		  <div class="col col-25">
		  	<a href="#">
		  		<i class="icon ion-ios-star-outline"></i>
	  		</a>
	  		<a href="#">
		  		<i class="icon ion-android-share-alt"></i>
	  		</a>
		  </div>
		</div>
	</div>

	<div class="list card post">

	  <div class="item item-image">
	    <img src="img/galaxy.jpg">
	  </div>

	  	<div class="item row">
		  <div class="col col-75">
			<p>Lorem Ipsum</p>
			<p>Category</p>
		  </div>
		  <div class="col col-25">
		  	<a href="#">
		  		<i class="icon ion-ios-star-outline"></i>
	  		</a>
	  		<a href="#">
		  		<i class="icon ion-android-share-alt"></i>
	  		</a>
		  </div>
		</div>
	</div>

	<!-- <div class="floating-ad fixed-outside" style="position: absolute; bottom: -30px; width: 100%; border: 1px solid black; background: #E7E7E7;">
		ADAD
	</div> -->
  </ion-content>

	
</ion-view>
