<ion-view view-title="Categories">
  <ion-content>

	<div class="row">
		<div class="col col-50">
			<a ng-click="view = 'list'">
				<i class="icon ion-ios-list-outline"></i>
				List
			</a>
		</div>
		
		<div class="col col-50">
			<a ng-click="view = 'grid'">
				Grid
				<i class="icon ion-grid"></i>
			</a>
		</div>
	</div>

    <ion-list ng-show="view == 'list'">

      <ion-item class="item item-icon-left item-icon-right" ng-repeat="category in categories" type="item-text-wrap" href="#/tab/categories/{{category.id}}">
        <i class="icon {{category.icon}}"></i>
        {{category.name}}
        
        <i class="icon {{category.notify == true ? 'ion-android-notifications' : 'ion-android-notifications-none'}}"></i>
      </ion-item>

    </ion-list>

    <div class="row grid" ng-show="view == 'grid'">

		<a class="col col-50 image-grid-item" ng-repeat="category in categories" href="#/tab/categories/{{category.id}}">
		<!-- <div class="col col-50 image-grid-item" ng-repeat="category in categories"> -->
			<!-- <div class="category-background" style="background-image: url({{category.image}})"> -->
				<div class="category-name">
			        <i class="icon category-icon {{category.icon}}"></i>
			        <div class="category-text">{{category.name}}</div>
		        </div>

		        <img class="category-background" src="{{category.image}}">
		        
		        <div class="category-notification">
		        	<i class="icon notification-icon {{category.notify == true ? 'ion-android-notifications' : 'ion-android-notifications-none'}}"></i>
		        </div>

	        <!-- </div> -->
        <!-- </div> -->
	    </a>
      <!-- <a class="col col-50 image-grid-item" ng-repeat="category in categories" href="#/tab/categories/{{category.id}}">
        <i class="icon category-icon {{category.icon}}"></i>
        {{category.name}}
        <img class="" src="{{category.image}}">
        
        <i class="icon notification-icon {{category.notify == true ? 'ion-android-notifications' : 'ion-android-notifications-none'}}"></i>
      </a> -->

    </div>

  </ion-content>
</ion-view>
