<ion-view view-title="Favorites">
  <ion-content>

  	<ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="favorite in favorites" type="item-text-wrap" href="#/tab/post/{{favorite._id}}">
        <img src="{{favorite.cover_image}}">
        <h2>{{favorite.title}}</h2>
        <p>{{favorite.category.name}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(favorite)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
