<ion-view view-title="Profile">
  <ion-content class="padding">

  	<div class="row">
  		<div class="col col-50">
			<img src="../img/adam.jpg" style="border-radius: 50%; width: 100px; height: 100px;">
		</div>
  		<div class="col col-50">
			<h4>John Doe</h4>
			<br>
			<span>Badges <b style="color: gold;">35</b></span>
		</div>

		<!-- <span>Statiscs 1</span> -->
  	</div>

    <div class="list">
	  <label class="item item-input item-floating-label">
	    <span class="input-label">Name</span>
	    <input type="text" placeholder="Name">
	  </label>
	  <label class="item item-input item-floating-label">
	    <span class="input-label">Email</span>
	    <input type="text" placeholder="Email">
	  </label>
	  <label class="item item-input item-floating-label">
	    <span class="input-label">Password</span>
	    <input type="password" placeholder="Password">
	  </label>
	</div>

	<button class="button button-positive btn-save-profile">
	  Save
	</button>

  </ion-content>
</ion-view>
