<ion-view view-title="Profile">
  <ion-content class="padding">

	<img src="../img/adam.jpg" style="border-radius: 50%; width: 150px; height: 150px;">

	<span>Level 1</span>
	<span>Experiência 40/50</span>

    <div class="list">
	  <label class="item item-input item-floating-label">
	    <span class="input-label">Nome</span>
	    <input type="text" placeholder="Name">
	  </label>
	  <label class="item item-input item-floating-label">
	    <span class="input-label">Email</span>
	    <input type="text" placeholder="Email">
	  </label>
	  <label class="item item-input item-floating-label">
	    <span class="input-label">Password</span>
	    <input type="password" placeholder="Password">
	  </label>
	</div>

	<button class="button button-positive">
	  Salvar
	</button>

  </ion-content>
</ion-view>
